* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 400px;
    height: 688px;
    background: black;
    padding: 118px 20px 40px;
    border-radius: 20px;
    box-shadow: 0 5px 15px #999;
}

.display {
    height: 80px;
    background: #333;
    color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 30px 40px;
}

.button {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: #505050;
    color: white;
    font-size: 22px;
}

.clear {
    background: #a5a5a5;
    color: black;
}

.operator {
    background: #ff9500;
}

.zero {
    width: 150px;
    grid-column: span 2;
    border-radius: 40px;
}